<IfModule mod_rewrite.c>
    RewriteEngine On

    # Determine the RewriteBase automatically and set as environment variable.
    RewriteCond %{REQUEST_URI}::$0 ^(/.+)/(.*)::\2
    RewriteRule .* - [E=BASE:%1]

    # Sets the HTTP_AUTHORIZATION header removed by Apache
    RewriteCond %{HTTP:Authorization} .+
    RewriteRule ^ - [E=HTTP_AUTHORIZATION:%0]

    # Redirect to URI without front controller to prevent duplicate content
    RewriteCond %{ENV:REDIRECT_STATUS} =""
    RewriteRule ^index\.php(?:/(.*)|$) %{ENV:BASE}/$1 [R=301,L]

    # If the requested filename exists, serve it.
    # If the requested directory exists, serve the index.html inside it.
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteRule ^ %{ENV:BASE}/index.php [L]
</IfModule>

<IfModule !mod_rewrite.c>
    <IfModule mod_alias.c>
        # When mod_rewrite is not available, redirect all requests to index.php
        RedirectMatch 307 ^/$ /index.php/
    </IfModule>
</IfModule>
